.git
.gitignore
.dockerignore
Dockerfile


client/build
client/node_modules
server/node_modules
node_modules
*.log
.env
.env.production
**/.env
server/.env
terraform/
*.tfstate
*.tfvars
.terraform/
server/dynamodb-admin
