node_modules
.vscode/

/docker/localstack/
/docker/dynamodb/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log


.terraform/
terraform.tfstate
terraform.tfstate.*


*.pem
*.env
server/.env.production
./server/.env