node_modules
.vscode/
docker/localstack/
docker/dynamodb/
**/.terraform/
**/tf.log
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
*.pem
*.env
server/.env.production
server/.env
server/dynamodb-admin